name = "siren"
main = "build/worker/shim.mjs"
compatibility_date = "2024-05-23"
minify = true
workers_dev = true

routes = [
    { pattern = "vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "ava.game.naver.com.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "df.game.naver.com.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "graph.instagram.com.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "zaintest.vuclip.com.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "support.zoom.us.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "cache.netflix.com.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    
    # --- HOSTNAMES BARU DITAMBAHKAN DI BAWAH INI ---
    { pattern = "dev.appsflyer.com.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "go.appsflyer.com.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "cdn.customlinks.appsflyer.com.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "add.customlinks.appsflyer.com.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "quiz.int.vidio.com.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "quiz.staging.vidio.com.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "nontontv.vidio.com.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "quiz.vidio.com.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "img.email1.vidio.com.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "img.email2.vidio.com.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "img.email3.vidio.com.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "source.zoom.us.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "zoomgov.com.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "zoomgov.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "blog.webex.com.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "edu.ruangguru.com.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "gw.ruangguru.com.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "bimbel.ruangguru.com.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "blog.ruangguru.com.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "roboguru.ruangguru.com.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "io.ruangguru.com.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "open.spotify.com.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "investors.spotify.com.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "investor.fb.com.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "npca.netflix.com.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "creativeservices.netflix.com.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "help.viu.com.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "www.udemy.com.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "info.udemy.com.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "teaching.udemy.com.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "space.byu.id.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "grabacademyportal.grab.com.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "grabalumni.grab.com.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "app-stg.gopay.co.id.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "app.gopay.co.id.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "hurricane.lipcon.com.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "www.lipcon.com.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "investor.medallia.com.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "go.medallia.com.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "app.midtrans.com.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "www.midtrans.com.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "api.midtrans.com.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "dashboard.midtrans.com.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "account-gopay.midtrans.com.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "s.shopee.co.id.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "cf.shopee.co.id.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "s.lazada.co.id.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "store.linefriends.com.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "collection.linefriends.com.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "help.line.me.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "api24-normal.tiktokv.com.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "api24-normal-useast1a.tiktokv.com.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "api24-normal-alisg.tiktokv.com.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "cf.shopee.co.id.sea-sw.swiftserve.com.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "web.poe.garena.com.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "www.freefiremobile.com.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" },
    { pattern = "dl.cvs.freefiremobile.com.vm.gpj1.web.id", custom_domain = true, zone_id = "eed0d49c84b5124ea4610e820c9a0c1f" }
]

[[kv_namespaces]]
binding = "GEOVPN"
id = "9217f1e77ee040daafccf9b7ac869441"

[build]
command = "cargo install -q worker-build && worker-build --release"

[env.dev]
build = { command = "cargo install -q worker-build && worker-build --dev" }

[vars]

UUID = "f282b878-8711-45a1-8c69-5564172123c1"

MAIN_PAGE_URL = "https://raw.githubusercontent.com/jaka1m/Siren/refs/heads/master/web/index.html"
SUB_PAGE_URL  = "https://raw.githubusercontent.com/jaka1m/Siren/refs/heads/master/web/sub.html"
LINK_PAGE_URL = "https://raw.githubusercontent.com/jaka1m/Siren/refs/heads/master/web/link.html"
CONVERTER_PAGE_URL = "https://raw.githubusercontent.com/jaka1m/Siren/refs/heads/master/web/converter.html"
CHECKER_PAGE_URL = "https://raw.githubusercontent.com/jaka1m/Siren/refs/heads/master/web/checker.html"
