name = "siren"
main = "build/worker/shim.mjs"
compatibility_date = "2024-05-23"
minify = true
workers_dev = true

routes = [
  { pattern = "vm.gpj.web.id", custom_domain = true, zone_id = "5c7647b716ed5262595513d4becaf9ed" },
  { pattern = "ava.game.naver.com.vm.gpj.web.id", custom_domain = true, zone_id = "5c7647b716ed5262595513d4becaf9ed" },
  { pattern = "df.game.naver.com.vm.gpj.web.id", custom_domain = true, zone_id = "5c7647b716ed5262595513d4becaf9ed" },
  { pattern = "graph.instagram.com.vm.gpj.web.id", custom_domain = true, zone_id = "5c7647b716ed5262595513d4becaf9ed" },
  { pattern = "zaintest.vuclip.com.vm.gpj.web.id", custom_domain = true, zone_id = "5c7647b716ed5262595513d4becaf9ed" },
  { pattern = "support.zoom.us.vm.gpj.web.id", custom_domain = true, zone_id = "5c7647b716ed5262595513d4becaf9ed" },
  { pattern = "cache.netflix.com.vm.gpj.web.id", custom_domain = true, zone_id = "5c7647b716ed5262595513d4becaf9ed" }
]

[[kv_namespaces]]
binding = "GEOVPN"
id = "96a271a6f0b948e783163eee8da31d8a"

[build]
command = "cargo install -q worker-build && worker-build --release"

[env.dev]
build = { command = "cargo install -q worker-build && worker-build --dev" }

[vars]

UUID = "f282b878-8711-45a1-8c69-5564172123c1"

MAIN_PAGE_URL = "https://raw.githubusercontent.com/jaka1m/Siren/refs/heads/master/web/index.html"
SUB_PAGE_URL  = "https://raw.githubusercontent.com/jaka1m/Siren/refs/heads/master/web/sub.html"
LINK_PAGE_URL = "https://raw.githubusercontent.com/jaka1m/Siren/refs/heads/master/web/link.html"
CONVERTER_PAGE_URL = "https://raw.githubusercontent.com/jaka1m/Siren/refs/heads/master/web/converter.html"
CHECKER_PAGE_URL = "https://raw.githubusercontent.com/jaka1m/Siren/refs/heads/master/web/checker.html"
